@tailwind base;
@tailwind components;
@tailwind utilities;

html
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.silkscreen {
  font-family: 'Silkscreen';
}

@font-face {
  font-family: 'FZQingKe';
  src: url('./fonts/FZQingKeBenYueSongS-R-GB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Silkscreen';
  src: url('./fonts/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}