@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.silkscreen {
  font-family: 'Silkscreen';
}

@font-face {
  font-family: 'FZQingKe';
  src: url('./fonts/FZQingKeBenYueSongS-R-GB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}